.colorNav{ 
    background-color: #ECC273;

    padding: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-weight: light;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    

}


.imgHeader{
    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    

}


.headerImg{
    position: relative;
    text-align: center;
    color: white;
}

.headerText{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}

@media (max-width: 1200px) {
    .imgHeader {
        height: 700px; /* Adjust height for medium-sized screens */
    }
    .headerText {
        font-size: 1.8em; /* Slightly smaller font size */
    }
}

@media (max-width: 992px) {
    .imgHeader {
        height: 600px; /* Adjust height for smaller screens */
    }
    .headerText {
        font-size: 1.6em; /* Further reduce font size */
        top: 45%; /* Adjust position if needed */
    }
}

@media (max-width: 768px) {
    .imgHeader {
        height: 500px; /* Adjust height for mobile screens */
    }
    .headerText {
        font-size: 1.4em; /* Further reduce font size */
        top: 50%; /* Adjust position if needed */
    }
}

@media (max-width: 576px) {
    .imgHeader {
        height: 400px; /* Adjust height for very small screens */
    }
    .headerText {
        font-size: 1.2em; /* Further reduce font size */
        top: 55%; /* Adjust position if needed */
    }
}

h1{
        font-size: 50px;
        letter-spacing: 8px;
        font-family: "Montserrat", sans-serif;
        text-shadow: #AF3925 5px 0 10px;
}

 h3, h5, h6{
    font-family: "Montserrat", sans-serif;
    font-style: oblique;
    
    
}

h2{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: oblique;
    color:  #AF3925
}

/* .fade-in{
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-delay: 0s;
    
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;

    }
} */

.pulse-animation{
    animation: pulse-animate 10s infinite;
    -o-animation-direction: alternate;
    animation-timing-function: linear;
    
}

@keyframes pulse-animate {
    0%{transform: scale(1);}
    50%{transform: scale(0.9);}
    100%{transform: scale(1);}
}


a.nav-link{
    color:  #AF3925;
    font-weight: 450;
    
}


a.nav-link:hover{
    color: #925B32;
}


.sottolinea{
    text-decoration: underline;
   ;
    

}

footer {
    color:  #AF3925;
}


h4{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 23px;
    


  }


  /* sezione menu */

  .custom-margin {
    margin: 60px; /* Regola il valore per ottenere il margine desiderato */
}

.pizze{
    color:  #AF3925;

}

.menu{
    font-size: 30px;
    letter-spacing: 3px;
    font-family: "Montserrat", sans-serif;
    
}
